@import "../../style/variables/breakPoints.scss";
@import "../../style/variables/colors.scss";

.layout {
    overflow: hidden;
    height: 100vh;

    &__grid {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        @media (min-width: $breakPonint1280px) {
            grid-template-columns: minmax(15rem, 20%) 1fr minmax(15rem, 20%);
        }
    }

    .content {
        background-color: $light-baseDarker;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

        button {
            padding: 1rem;
        }
    }
}
