// Colors
$light-base: #f1f5f9;
$light-baseDarker: #e2e8f0;
$light-basePurple: #7c3aed;
$light-basePink: #fecdd3;
$light-basePinkDarker: #e11d48;
// Font
$light-baseFont: #475569;
$light-baseSecondFont: #64748b;
$light-baseFontActive: #f1f5f9;
$light-baseSecondFontActive: #c4b5fd;

$dark-base: #141e33;
$dark-baseDarker: #0f172a;
$dark-basePurple: #5b21b6;
// Font
$dark-baseFont: #94a3b8;
$dark-baseFontActive: #e2e8f0;
$dark-baseSecondFont: #64748b;
$dark-baseSecondFontActive: #c4b5fd;

$baseGreen: #a7f3d0;
$baseGreenDarker: #065f46;
$baseOrange: #f7e18e;
$baseOrangeDarker: #92400e;
$baseStar: #f43f5e;
$baseHover: #94a3b8;
