@import "breakPoints.scss";

// fontSize =====================
:root {
    --FZ-baseFont: 0.75rem;
    --FZ-headerFont: 1.125rem;
}

@media (min-width: $breakPonint640px) {
    :root {
        --FZ-baseFont: 0.875rem;
    }
}
@media (min-width: $breakPonint768px) {
    :root {
        --FZ-headerFont: 1.5rem;
    }
}
@media (min-width: $breakPonint1280px) {
    :root {
        --FZ-baseFont: 1rem;
    }
}
