@import "../style/variables/breakPoints.scss";

.header {
    &__grid {
        display: grid;
        row-gap: 1rem;
        grid-template-columns: 1fr 0.5fr 1fr;
        grid-template-rows: auto auto;
        place-items: center;

        @media (min-width: $breakPonint768px) {
            grid-row: 1fr;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__hamburger {
        justify-self: flex-start;
        @media (min-width: $breakPonint768px) {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        @media (min-width: $breakPonint1280px) {
            display: none;
        }
    }

    &__action {
        display: flex;
        justify-content: flex-end;
        gap: 0.7rem;
        align-items: center;
        width: 100%;

        @media (min-width: $breakPonint640px) {
            justify-content: center;
        }
        @media (min-width: $breakPonint768px) {
            gap: 1rem;
        }

        & .myButton {
            display: none;
        }

        @media (min-width: $breakPonint640px) {
            & .myButton {
                display: block;
            }
        }
    }

    &__search {
        grid-column: 1/-1;
        width: 100%;

        @media (min-width: $breakPonint768px) {
            justify-self: flex-end;
            width: 76%;
            grid-column: 1/2;
            grid-row: 1/2;
        }

        @media (min-width: $breakPonint1280px) {
            justify-self: flex-start;
            width: 100%;
        }
    }
}
